.title-container {
    width: 100%;
    height: 30%;
    position: relative;
}

.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 100px;
}

.title a { 
    text-decoration: none;
    color: #eee;
}
    
.title a:hover { 
    text-decoration: none;
    color: #FF6666;
}

.kickstarter-logo {
    height: 15px;
}

#countdown {
    color: #ddd;
}

#countdown:hover {
    color: #777;
}
