.title-container {
    width: 100%;
    height: 30%;
    position: relative;
    text-align: center;
    padding-top: 10%;
}

.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 120px;
    
}

.title a { 
    text-decoration: none;
    color: #eee;
}
    
.title a:hover { 
    text-decoration: none;
    color: #FF6666;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .title a:hover { 
        background-image: url('../assets/ink-oil.gif');
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        color: #FF6666;
    }
}  

.kickstarter-logo {
    height: 15px;
}

#countdown {
    color: #ddd;
}

#countdown:hover {
    color: #777;
}

#registration-intro {
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 15px;
    display: block;
    color: #ccc;
}
