@font-face {
    font-family: special;
    src: url(../fonts/SpecialElite.ttf);
}

@font-face {
    font-family: newspaper;
    src: url(../fonts/OldNewspaperTypes.ttf);
}

html, body {
    height: 100%;
    /*font-family: apple;*/
}

#container {
    height: 100%;
    background-color: transparent;
}

#background {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#veil {
    padding-top: 10%;
    background-color: white;
    opacity: 1;
    z-index: 100;
    position: fixed;
    top: 0 ; 
    left: 0; 
    right: 0; 
    bottom: 0;
    height: 100%;
    width: auto;
    margin: 0;
    font-size: 20px;
}
/*TIPS*/
#banner_tips {
    width: 100%;
    min-height: 134px;
    margin: auto auto auto auto;
    position: relative;
    color: #FF6666;
    text-align: center;
}

#banner_nav {
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
    margin: auto auto auto auto;
    position: relative;
    width: 100%;
}

#tips_container {
    width: 60%;
    margin: auto auto;
    margin-top: 20px;
    color: #FF6666;
    font-size: 16px;
    text-align: center;
}

.nav_button {
    margin-left: 24px;
    margin-right: 24px;
    /*display: inline-block;*/
    color: #ccc;
    font-size: 28px;
}

.nav_link {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    color: #ccc;
    font-size: 20px;
}

.regular_button {
    color: #ccc;
}

.auth_button {
    display: inline-block;
    color: #ccc;
    font-size: 35px;
    margin-left: 2px;
    margin-right: 2px;
}

.big {
    display: inline-block;
    color: #ccc;
    font-size: 20px;
}

.big_button {
    display: inline-block;
    color: #ccc;
    font-size: 40px;
}

.big_button:hover,
.auth_button:hover,
.regular_button:hover {
    cursor: pointer;
    color: #FF6666;
}

.nav_button:hover {
    cursor: pointer;
    color: #FF6666;
}

.nav_link:hover {
    cursor: pointer;
    color: #FF6666;
}

.tip_title {
    font-size: 20px;
}

.large_tip_title {
    font-size: 28px;
}

.tip_content {
    font-size: 16px;
}

.large_tip_content {
    font-size: 22px;
}

#story_line_container {
    height: 50%;
    width: 60%;
    margin: auto auto;
    overflow: auto;
}

.story_line_container_shadows {
    background:
		/* Shadow covers */
        
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
        
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

#story_line {
    text-align: center;
}

#branches {
    overflow: auto;
    width: 60%;
    margin: auto auto;

	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, scroll, scroll, scroll;
}

#branches and (max-width:500px) {
    width: 100%;
}

#user_stats {
    text-align: center;
    font-size: 15px;
    color: #777;
}

::-webkit-scrollbar{
  width:0px; 
  background:transparent;
} 

.valign { display: table; width: 100%; height: 100%;}
.valign > div { display: table-cell; width: 100%; height: 100%; }
.valign.bottom > div { vertical-align: bottom; }
.valign.middle > div { vertical-align: middle; }

.line {
    font-size: 22px;
    text-align: center;
    position: relative;
    display: block;
}

.info {
    /*display: none;*/
    text-align: center;
    float: right;
    color: transparent;
    margin-top: 5px;
    transition: color 2s;
}

#story_break {
    height: 1px;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0x;
    background: #bbb;
    color: #bbb;
    border: 0px;
    border-color: #bbb;
}

#text_form {
    text-align: center;
}

#line {
    width: 500px;
}

#line_form {
    display:inline-block;
    text-align: center;
    margin-left: 25px;
    /*padding-top: 15px;*/
}

#suggest_line_button {
    line-height: 10px;
    margin-left: 15px;
    font-size: 25px;
}

#add_line_button {
    line-height: 10px;
    margin-left: 15px;
    font-size: 25px;
}

.line_button {
    /*font-family: sans-serif;*/
    display:inline-block;
    font-family: sans-serif;
    cursor: pointer;
    color: #bbb;
}
.line_button:hover {
    color: #777;
}

#alpha_warning {
    display: none;
    background: #FF6666;
    color: #fff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
  /* UNDER 500px CSS here */
    #story_break {
        width: 80%;
    }
    #tips_container {
        width: 100%;
    }
    #story_line_container{
        width: 100%;
    }
    #branches{
        width: 100%;
    }
    #line_form{
        width:100%;    
    }
    #line{
        width: 90%;
    }
    .info{
        display: none;    
    }
}



