a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    color: #FF6666;
    text-decoration: none;
}

.button {
    color: #aaa;
    cursor: pointer;
}

.button:hover {
    color: #FF6666;
    cursor: pointer;
}

#centered {
    padding-top: 16%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 400px;
}

.inline {
    color: #aaa;
    display: inline;
}

.action {
    font-size: 20px;
    margin-left: 20px;
}

#prefs_container {
    font-size: 30px;
    color: #aaa;
    width: inherit;
}

.bordered {
    border: #bbb solid 3px;
    padding: 10px;
}